@charset 'UTF-8';
@font-face {
  font-family: 'DIN';
  src: url('/Content/core/fonts/din/229D20_0_0.eot');
  src: url('/Content/core/fonts/din/229D20_0_0.eot?#iefix') format('embedded-opentype'), url('/Content/core/fonts/din/229D20_0_0.ttf') format('truetype');
}
.redGrad {
  background-color: #b80609;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#db4047), color-stop(25%, #b90101), to(#b21927));
  background-image: -webkit-linear-gradient(#db4047, #b90101 25%, #b21927);
  background-image: -moz-linear-gradient(top, #db4047, #b90101 25%, #b21927);
  background-image: -ms-linear-gradient(#db4047, #b90101 25%, #b21927);
  background-image: -o-linear-gradient(#db4047, #b90101 25%, #b21927);
  background-image: linear-gradient(#db4047, #b90101 25%, #b21927);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db4047', endColorstr='#b21927', GradientType=0);
}
.blueBannerGradient {
  background-color: #3f7fad;
  background-image: linear-gradient(to right, #4385b4, #4385b4 50%, #306891 51%, #306891);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4385b4', endColorstr='#306891', GradientType=0);
}
.navStripe {
  background-color: #f3f7f8;
  background-image: linear-gradient(to right bottom, #f3f7f8 0%, #f3f7f8 48%, #e5e9ea 48%, #e5e9ea 52%, #f3f7f8 52%, #f3f7f8 100%);
  background-size: 6px 6px;
  -webkit-box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
  -moz-box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
}
.redBTN {
  background-color: #b42630;
  background-image: linear-gradient(to bottom, #d63f4a, #82000a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d63f4a', endColorstr='#82000a', GradientType=0);
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  -webkit-box-shadow: 0 0.1em 0.1em #c65a5a , 0 0.09em 0.2em #000000 inset;
  -moz-box-shadow: 0 0.1em 0.1em #c65a5a , 0 0.09em 0.2em #000000 inset;
  box-shadow: 0 0.1em 0.1em #c65a5a , 0 0.09em 0.2em #000000 inset;
  padding: 0.4em 0.8em;
  color: #fff;
  text-decoration: none;
}
.lightGreyBTN {
  color: #757575;
  text-decoration: none;
  border: 1px solid #D2D2D2;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #fdfdfd, #e9e9e9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e9e9e9', GradientType=0);
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: 0 0.1em 0.1em #ffffff inset;
  -moz-box-shadow: 0 0.1em 0.1em #ffffff inset;
  box-shadow: 0 0.1em 0.1em #ffffff inset;
  padding: 0.5em 1em;
}
.greyBTN {
  display: inline-block;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: normal;
  color: #333333;
  text-decoration: none;
  border: 1px solid #AEACAC;
  background-color: #e1e1e1;
  background-image: linear-gradient(to bottom, #eeeeee, #cdcdcd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cdcdcd', GradientType=0);
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  -webkit-box-shadow: 0 0.1em 0.1em #ffffff inset;
  -moz-box-shadow: 0 0.1em 0.1em #ffffff inset;
  box-shadow: 0 0.1em 0.1em #ffffff inset;
  padding: 0.5em 1em;
}
.famousFade {
  background-color: #e6f5fd;
  background-image: linear-gradient(to bottom, #f2fafe, #d4eefb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2fafe', endColorstr='#d4eefb', GradientType=0);
}
html {
  width: 100%;
  overflow-x: hidden;
}
body #SubFooterNav,
body div,
body dl,
body dt,
body dd,
body ul,
body ol,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body pre,
body form,
body fieldset,
body input,
body p,
body blockquote,
body th,
body td,
body .justify .u,
body #subMenu h3 {
  font-size: 12px;
  font-family: sans-serif;
}
@media screen and (min-width:400px) {
  body #SubFooterNav,
  body div,
  body dl,
  body dt,
  body dd,
  body ul,
  body ol,
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6,
  body pre,
  body form,
  body fieldset,
  body input,
  body p,
  body blockquote,
  body th,
  body td,
  body .justify .u,
  body #subMenu h3 {
    font-size: 16px;
  }
}
.r {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
}
.u {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}
.s1 {
  display: block;
  width: inherit;
}
.s1-1 {
  width: 100%;
}
.s1-2 {
  width: 50%;
}
.s1-3 {
  width: 33.22225%;
}
.s1-2 .s1-3 {
  width: 32.67%;
}
.s2-3 {
  width: 66.66666%;
}
.s1-4 {
  width: 25%;
}
.s3-4 {
  width: 75%;
}
.s1-5 {
  width: 20%;
}
.s2-5 {
  width: 39.727272%;
}
.s3-5 {
  width: 60%;
}
.s4-5 {
  width: 80%;
}
.s1-6 {
  width: 16.656%;
}
.s5-6 {
  width: 83.33%;
}
.s1-8 {
  width: 12.4445%;
}
.s1-9 {
  width: 11.1111%;
}
.s3-8 {
  width: 37.5%;
}
.s5-8 {
  width: 62.5%;
}
.s7-8 {
  width: 87.5%;
}
.s1-12 {
  width: 8.3333%;
}
.s5-12 {
  width: 41.6666%;
}
.s7-12 {
  width: 58.3333%;
}
.s11-12 {
  width: 91.6666%;
}
.s1-24 {
  width: 4.1666%;
}
.s5-24 {
  width: 20.8333%;
}
.s7-24 {
  width: 29.1666%;
}
.s11-24 {
  width: 45.8333%;
}
.s13-24 {
  width: 54.1666%;
}
.s17-24 {
  width: 70.8333%;
}
.s19-24 {
  width: 79.1666%;
}
.s23-24 {
  width: 95.8333%;
}
.s28 {
  width: 28%;
}
.s30 {
  width: 30%;
}
.s36 {
  width: 36%;
}
.s41 {
  width: 41%;
}
.s42 {
  width: 42%;
}
.s44 {
  width: 44%;
}
.s49 {
  width: 49.3%;
}
.s57 {
  width: 57.0454%;
}
.s72 {
  width: 72%;
}
.m300 {
  min-width: 300px;
}
.m280 {
  min-width: 280px;
}
.gutter {
  padding-right: 1.9%;
}
.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.cf:after {
  clear: both;
}
.justify {
  text-align: justify;
  overflow: hidden;
  font-size: 1px;
}
.justify .u {
  font-size: 12px;
}
@media screen and (min-width:400px) {
  .justify .u {
    font-size: 16px;
  }
}
.justify:after,
.justify .justFix {
  display: inline-block;
  content: "\0020";
  background: blue;
  padding-right: 100%;
}
/***********************************************************************************/
/***********************************************************************************/
/*********************************** PAGE STYLES ***********************************/
/***********************************************************************************/
/***********************************************************************************/
.cartnum {
  font-weight: bold;
  font-size: 1.2em;
  padding: .3em  .5em;
  background: #F9C84E;
  height: .9em;
  line-height: 1em;
  color: #000;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-box-shadow: 0.1em 0 0.3em rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0.1em 0 0.3em rgba(0, 0, 0, 0.8);
  box-shadow: 0.1em 0 0.3em rgba(0, 0, 0, 0.8);
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
}
body {
  background: url(/Content/core/mobile/images/sf-bg.gif);
  width: 100%;
  overflow-x: hidden;
}
.content {
  background: white;
  padding-bottom: 1px;
}
#pageTopNav a {
  color: white;
  white-space: nowrap;
}
.tnBTN {
  position: relative;
  margin: .6em 1em .4em;
}
.tnBTN .ico {
  display: block;
  padding-top: 2em;
  width: 2em;
  height: 0;
  overflow: hidden;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.tnBTN .cartnum {
  position: absolute;
  top: -0.25em;
  right: -0.5em;
}
#tniCart .ico {
  background-image: url(/Content/core/mobile/images/tni-cart.png);
  margin-right: 3px;
}
#tniMenu .ico {
  background-image: url(/Content/core/mobile/images/tni-menu.png);
  margin: 0 2px;
}
#tniLogo {
  margin-bottom: 0;
}
#tniLogo .ico {
  background-image: url(/Content/core/mobile/images/tni-logo.png);
  padding-top: 2.7em;
  width: 10em;
}
#SubFooterNav li,
#SubFooterNav ul,
#SubFooterNav {
  margin: 0;
  padding: 0;
  list-style: none;
}
#SubFooterNav {
  border-top: 1px solid #323B3C;
}
#SubFooterNav a {
  font-family: "DIN", sans-serif;
  display: block;
  padding: .7em .5em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #323B3C;
}

#SubFooterNav .title {
  display: block;
  background: url(/Content/core/mobile/images/sfi-right.png) right top no-repeat;
  font-size: 2.2em;
  line-height: .75;
  margin: .20em 0 .17em;
  background-size: contain;
}
#SubFooterNav li li a {
  padding:.5em .5em;
}

#SubFooterNav .cartnum {
  font-size: .5em;
  font-family: sans-serif;
  position: relative;
  top: -0.35em;
  padding: .15em .5em;
}
#SubFooterNav ul a {
  font-size: inherit;
  background: white;
  color: black;
  border-bottom: 1px solid #ccc;
}
#SubFooterNav .sub .title {
  background-image: url(/Content/core/mobile/images/sfi-minus.png);
}
#SubFooterNav .closed .title {
  background-image: url(/Content/core/mobile/images/sfi-plus.png);
}
#SubFooterNav .sub li .title {
  background-image: url(/Content/core/mobile/images/sfi-subRight.png);
}
#SubFooterNav ul {
  -webkit-transition: height .3s;
  -moz-transition: height .3s;
  -o-transition: height .3s;
  -ms-transition: height .3s;
  transition: height .3s;
  height: 22em;
  overflow: hidden;
}

/* Adding INSPIRATION to Nav */
#SubFooterNav ul.short {
  height:10.5em;
}
.icon-lightbulb:before {
  content:'\e650';
  left:19px !important;
}


#SubFooterNav .closed ul {
  height: 0px;
}
#SubFooterNav .ico a[class^="icon-"]:before {
  left:.3em;
  top:.2em;
}
#SubFooterNav .ico .title:after {
  right:.3em;
  top:.2em;
}
#SubFooterNav .ico li .title:after {
  top:.1em;
}
#SubFooterNav li.ico a {
  padding-left: 4.2em;
}
#ffBlock {
/*  background: url(/Content/core/mobile/images/sfi-lockup.png) no-repeat left center;*/
  padding-top: 2.6em;
  height: 0;
  display: block;
  overflow: hidden;
  width: 12.5em;
  background-size: contain;
}
#snTitle {
  position: relative;
  padding: 1em 1em;
  border-bottom: 1px solid #323B3C;
}
#topLink {
  position: absolute;
  top: .8em;
  right: .5em;
  font-family: "DIN", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 2em;
  padding-right: 1.2em;
}
#footerSearchField {
  padding: 1em 1em;
}
#searchField {
  margin: 1em;
}
#searchField .wrap {
  display: block;
  background: white;
  border-radius: .4em;
  font-size: 1em;
  padding: .8em 0;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8) inset;
  position: relative;
}
#footerSearch {
  font-size: 1.2em;
  text-indent: .53em;
  display: block;
  border: none;
  width: 89%;
  margin-left: 1%;
  outline: none;
}
#sfSearchBTN {
  border: none;
  background: #ffffff url(/Content/core/mobile/images/sfi-magnify.png) center no-repeat;
  width: 2em;
  display: block;
  position: absolute;
  right: .8em;
  top: 0.4em;
  bottom: .5em;
  background-size: contain;
}
#topLink .ico {
  background: url(/Content/core/mobile/images/sfi-up.png) no-repeat right 3px;
  padding-top: 1em;
  height: 0;
  overflow: hidden;
  width: 1em;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-size: contain;
}
#snSocial {
  letter-spacing: .6em;
}
#snSocial,
#snFooter,
#snFooter .desc {
  text-align: center;
  margin: 2em;
}
#snSocial .snBTN {
  display: inline-block;
  *display: inline;
  zoom: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 3.1em;
  padding-top: 3.1em;
  height: 0;
  overflow: hidden;
}
#snSocial #snlFB {
  background-image: url(/Content/core/mobile/images/sfi-facebook.png);
}
#snSocial #snlTW {
  background-image: url(/Content/core/mobile/images/sfi-twitter.png);
}
#snSocial #snlGP {
  background-image: url(/Content/core/mobile/images/sfi-g.png);
}
#snSocial #snlPI {
  background-image: url(/Content/core/mobile/images/sfi-pinterest.png);
}
#snFooter .desc {
  font-size: .8em;
  padding-bottom: 5em;
}
#snFooter .desc span,
#snFooter .desc a {
  display: block;
  color: inherit;
  text-decoration: none;
}
#hashLink {
  color: white;
  font-family: "DIN", sans-serif;
  font-size: 2.5em;
  text-decoration: none;
  display: block;
  letter-spacing: 0;
}
.snNav a {
  padding-left: 1em;
  margin-left: 1em;
  border-left: 1px solid;
  color: #666;
}
.snNav a:first-child {
  border-left: none;
  margin: 0;
  padding: 0;
}
.noGender #newBreadCrumbs {
  display: none !important;
}
.noSorts #filterSelects,
.noSorts #filterBTN,
.noSorts #newBreadCrumbs {
  display: none !important;
}
#navigateResults {
  position: relative;
}
#navigateResults #filterTriggers {
  position: absolute;
  top: .7em;
  right: .7em;
}
#navigateResults .selectBTNwrap {
  display: inline-block;
  position: relative;
}
#navigateResults .selectBTNwrap select {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  border: none;
  opacity: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#navigateResults .selectSubBTN {
  color: #4384B3;
  font-size: 1.2em;
  font-weight: bold;
}
#navigateResults .selectSubBTN:after {
  content: " +";
}
#navigateResults .selectBTN {
  display: inline-block;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: normal;
  color: #333333;
  text-decoration: none;
  border: 1px solid #AEACAC;
  background-color: #e1e1e1;
  background-image: linear-gradient(to bottom, #eeeeee, #cdcdcd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cdcdcd', GradientType=0);
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  -webkit-box-shadow: 0 0.1em 0.1em #ffffff inset;
  -moz-box-shadow: 0 0.1em 0.1em #ffffff inset;
  box-shadow: 0 0.1em 0.1em #ffffff inset;
  padding: 0.5em 1em;
  font-size: 1em;
  margin: 0 .25em;
}
#navigateResults .ItemsFound {
  background-color: #f3f7f8;
  background-image: linear-gradient(to right top, #f3f7f8 0%, #f3f7f8 48%, #e5e9ea 48%, #e5e9ea 52%, #f3f7f8 52%, #f3f7f8 100%);
  background-size: 6px 6px;
  -webkit-box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
  -moz-box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
  padding: .7em 1em;
  text-align: left;
  font-weight: normal;
  width: auto !important;
  color: #999;
  border-bottom: 1px solid #EAEAEB;
  border-top: 1px solid #EAEAEB;
  font-size: 1.4em;
}
#navigateResults .ItemsFound .count {
  color: #4483b5;
  font-weight: bold;
}
#navigateResults #newBreadCrumbs {
  background: #F6F9FA;
  border-bottom: 1px solid #EAEAEB;
  padding: 0.5em 1em;
}
#navigateResults #newBreadCrumbs .breadcrumb {
  display: inline-block;
  color: #4384B3;
  text-decoration: none;
  padding: 0 1.3em 0 0;
  margin-right: 0.9em;
  background: none;
  font-size: 1.1em;
  position: relative;
}
#navigateResults #newBreadCrumbs .breadcrumb:after {
  content: " ";
  background: #4384b3 url(/Content/core/mobile/images/breadcrumb.png) center no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  position: absolute;
  width: 1.0em;
  line-height: 0.7em;
  height: 1.0em;
  overflow: hidden;
  top: 0.2em;
  right: 0;
}
@media screen and (min-width:400px) {
  #navigateResults #newBreadCrumbs .breadcrumb:after {
    font-size: .9em;
  }
}
@media screen and (min-width: 530px) and (max-width: 949px) {
  #navigateResults #newBreadCrumbs .breadcrumb:after {
    font-size: .9em;
  }
}
@media screen and (min-width: 950px) and (max-width: 1128px) {
  #navigateResults #newBreadCrumbs .breadcrumb:after {
    font-size: .9em;
  }
}
@media screen and (min-width: 1129px) {
  #navigateResults #newBreadCrumbs .breadcrumb:after {
    font-size: .9em;
  }
}
#navigateResults #newBreadCrumbs .breadcrumb.category {
  margin-right: 0;
  padding-right: 1.1em;
}
#navigateResults #newBreadCrumbs .breadcrumb.category.submost {
  margin-right: 1em;
}
#navigateResults #newBreadCrumbs .breadcrumb.inactive {
  color: #B9B9B9;
}
#navigateResults #newBreadCrumbs .breadcrumb.inactive:after {
  content: "▶";
  color: lightGrey;
  background: none;
  overflow: visible;
  font-size: .8em;
  top: 0.5em;
  right: 0;
  margin-left: .5em;
}
#filterSelects {
  text-align: left;
  background: #E4EEF1;
  position: relative;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
  overflow: hidden;
  box-shadow: 0 .2em .5em #D1DEE2 inset;
  height: 3em;
}
#filterSelects.clone {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
#filterSelects.closed {
  height: 0px;
}
#filterSelects:after {
  content: " ";
  position: absolute;
  top: -1.5em;
  border-color: transparent  transparent #D1DEE2 transparent ;
  border-width: .8em;
  border-style: solid;
  right: 2.5em;
}
#filterSelects .selectBTNwrap {
  display: inline-block;
  padding: .7em 0;
  width: 24.5%;
  white-space: nowrap;
  text-align: center;
}
.itemList {
  margin: 0 !important;
  border-bottom: 1px solid #eaeaeb;
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
}
.itemList .items {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  font-weight: normal;
  background: none;
  margin: 0;
  padding: 0;
  border: none !important;
  width: 50%;
  text-align: center;
  -webkit-box-shadow: -1px -1px 0 #eaeaeb inset;
  -moz-box-shadow: -1px -1px 0 #eaeaeb inset;
  box-shadow: -1px -1px 0 #eaeaeb inset;
  height: 16em;
}
@media screen and (min-width:400px) {
  .itemList .items {
    height: 17.5em;
  }
}
.itemList .items a {
  display: block;
  margin: 1em;
}
.itemList .items a,
.itemList .items .productTitleList,
.itemList .items p,
.itemList .items span {
  color: inherit;
  text-decoration: none;
}
.itemList .items .product {
  float: none;
  border: none;
  width: 9em;
}
.itemList .items p {
  margin: .05em 0;
  text-align: center;
}
.itemList .items p span {
  background: none;
  margin: 0;
  padding: 0;
}
.itemList .items .productTitleList {
  margin-top: .8em;
  color: #666666;
}
.itemList .items .productTitleList .n0 {
  display: block;
  font-weight: bold;
  color: #333333;
}
.itemList .items .productTitleList .n2 {
  display: none;
}
.itemList .items .price {
  font-size: 1.2em;
}
.itemList .items .productInfo {
  display: block;
  color: #333;
  float: none;
  margin: 0;
  padding: 0;
}
.itemList .items .cellBadge {
  position: absolute;
  top: 1.5em;
  left: 0;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding: .51em .5em .49em;
}
.itemList .items .cellBadge:before, .itemList .items .cellBadge:after {
  content: "";
  position:absolute;
  height:0;
  width:.2em;
  border-right: 1.15em solid transparent;
  right: -1.25em;
}
.itemList .items .cellBadge:before {
  top: 0;
  right: -1.25em;
  border-top: 1.15em solid transparent;
}
.itemList .items .cellBadge:after {
  bottom: 0;
  right: -1.25em;
  border-bottom: 1.15em solid transparent;
}
.itemList .items [class*="i-favorite"] {
  position:absolute;
  margin:0;
  top:.85em;
  right:.5em;
  font-size:1.5em;
  line-height:1em;
  font-weight:normal;
  color:#9A9A9A;
  &.active {
    color:#b90101;
  }
  .notice {
    position:absolute;
    top:100%;
    margin-top:.75em;
    right:-.5em;
    width:160px;
    background:white;
    border-radius:.15em;
    padding:.5em;
    text-align:left;
    height:3em;
    box-shadow:1px 1px 4px rgba(0,0,0,.15);
    z-index:1;
  }
}
.itemList .items.newTag p:first-of-type,
.itemList .items.saleTag p:first-of-type {
  display: none;
}
.itemList .items.saleTag p.originalPrice, .itemList .items.clearanceTag p.originalPrice {
  display: block;
  font-style: italic;
  text-decoration: line-through;
  color:#999;
}
.itemList .items.saleTag .price, .itemList .items.clearanceTag .price {
  color: #b90101;
}
.itemList .items.saleTag .cellBadge, .itemList .items.clearanceTag .cellBadge {
  background: #b90101;
}
.itemList .items.saleTag .cellBadge:before, .itemList .items.clearanceTag .cellBadge:before { border-top-color: #b90101; }
.itemList .items.saleTag .cellBadge:after, .itemList .items.clearanceTag .cellBadge:after {  border-bottom-color: #b90101; }
.itemList .items.newTag .cellBadge {
  background: #5781B4;
}
.itemList .items.newTag .cellBadge:before { border-top-color: #5781B4; }
.itemList .items.newTag .cellBadge:after { border-bottom-color: #5781B4; }
@media screen and (min-width: 950px) and (max-width: 1128px) {
  .itemList .items {
    width: 33%;
  }
}
@media screen and (min-width: 1129px) {
  .itemList .items {
    width: 25%;
  }
}
.Results .thumbnailContainer {
  position: relative;
  padding-bottom: 0;
}
.Results .pagingContainer {
  text-align: center;
  padding: 1em;
  left: 0;
  right: 0;
  bottom: 0;
}
.Results .pagingTable {
  margin: 0 auto;
}
.Results #ctl00_ContentPlaceHolder1_mobilePaging_lblPageText {
  display: none;
}
.Results .pagingText,
.Results .pagingPrev a,
.Results .pagingNext a {
  text-decoration: none;
  border: 1px solid #D2D2D2;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #fdfdfd, #e9e9e9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e9e9e9', GradientType=0);
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: 0 0.1em 0.1em #ffffff inset;
  -moz-box-shadow: 0 0.1em 0.1em #ffffff inset;
  box-shadow: 0 0.1em 0.1em #ffffff inset;
  padding: 0.5em 1em;
  color: #757575;
  text-transform: lowercase;
  margin: 0 .1em;
  height: 1em;
  font-size: .9em;
}
.Results .pagingText img,
.Results .pagingPrev a img,
.Results .pagingNext a img {
  display: none;
}
.Results .pagingText {
  font-size: 1.1em;
  background: none;
  color: #999999;
  border: none;
}
.Results .pagingPrev a,
.Results .pagingNext a {
  padding: 0.35em 0.5em;
}
.Results .pagingPrev a {
  padding-left: .45em;
}
.Results .pagingPrev a:after {
  content: "◀";
}
.Results .pagingNext a {
  padding-right: .45em;
}
.Results .pagingNext a:before {
  content: "▶";
}
.jsSupport #ctl00_ContentPlaceHolder1_ddlSort,
.jsSupport #ctl00_ContentPlaceHolder1_TopNav_pnlNavHeader,
.jsSupport #ctl00_ContentPlaceHolder1_TopNav_pnlTabs {
  display: none;
}
#topnav-mobile {
  background: white;
}
#productDetailsWrap #swipeShowImages {
  padding: 1em;
  pointer-events: none;
  text-indent: 50%;
  margin-left: -11em;
  white-space: nowrap;
  letter-spacing: -0.037em;
}
#productDetailsWrap #swipeShowImages img {
  width: 20em;
  border-right: 18em solid transparent;
}
#productDetailsWrap #swipeShowPages {
  text-align: center;
}
#productDetailsWrap .thumbItem {
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  pointer-events: none;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  overflow: hidden;
  background: #DDDDDD;
  text-indent: -999px;
  width: .5em;
  height: .5em;
  margin-right: .4em;
  outline: none;
  color: #ddd;
}
#productDetailsWrap .thumbItem.active {
  background: #4384B3;
}
#productDetailsWrap .selectWrap {
  margin: .8em 2.5em;
  height: 2em;
}
#productDetailsWrap.outofstock #selectColorWrap,
#productDetailsWrap.outofstock #productCheckout
 {display: none;}
#productDetailsWrap.outofstock #productPurchasInfo {padding-bottom: 0}
#productDetailsWrap .oosTitle {
  margin: 1em .5em;
  color: #b90101;
}
#productDetailsWrap #selectColorWrap {
  margin-top: 2em;
}
#productDetailsWrap select {
  display: block;
  width: 100%;
  font-size: 1em;
  border: 1px solid #BBB;
  color: #666;
  outline: none;
}
#productDetailsWrap select.disabled {
  color: #b1b1b1;
  background: #fff;
  border-color: #DADADA;
}
#productDetailsWrap #productCheckout {
  margin: 0 0 0 2em;
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  font-size: 1.3em;
  color: #fff;
  padding: .3em .8em;
  text-decoration: none;
  border: 1px solid #B6202E;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  text-shadow: 0.05em 0.05em 0.01em rgba(0, 0, 0, 0.8);
  background-color: #ce313c;
  background-image: linear-gradient(to bottom, #d73d48, #b60016 40%, #b60016 41%, #a9000e);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d73d48', endColorstr='#a9000e', GradientType=0);
}
#productDetailsWrap #findInStore {
  margin: 0 2.5em 0 0;
  float: right;
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  font-size: 1em;
  color: #3086b5;
  text-decoration: underline;
  font-weight: 600;
}
#productDetailsWrap #ProductDescription {
  margin: 2em 1em;
}
#productDetailsWrap #ProductDescription p {
  line-height: 1.3em;
}
#productDetailsWrap #ProductDescription h4 {
  color: #333333;
  font-size: 1.4em;
}
#productDetailsWrap #ProductDescription ul {
  margin: 1em auto;
}
#productDetailsWrap #ProductDescription li {
  list-style: disc outside;
  font-size: 1em;
  line-height: 1.2em;
  margin: 0 0 .6em 1em;
}
#productDetailsWrap #tabCustomerReviews {
  zoom: 1;
  padding: 2em 0 3em;
}
#productDetailsWrap #tabCustomerReviews:before,
#productDetailsWrap #tabCustomerReviews:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
#productDetailsWrap #tabCustomerReviews:after {
  clear: both;
}
#productDetailsWrap #tabCustomerReviews h3 {
  margin: 0 0.5em;
}
#productDetailsWrap #tabCustomerReviews table {
  width: 100%;
}
#productDetailsWrap #tabCustomerReviews #BVRRContainer {
  margin: 0 0 1.5em 0;
}
#productDetailsWrap #tabCustomerReviews #BVRRSourceID > div {
  display: block;
  border-bottom: 1px solid #E4E4E4;
  padding: 2.5em 2em;
}
#productDetailsWrap #tabCustomerReviews #BVRRSourceID > div.hreview-aggregate {
  display: none;
}
#productDetailsWrap #tabCustomerReviews #BVRRSourceID > div .summary {
  display: block;
  font-weight: bold;
  color: #4384B3;
}
#productDetailsWrap #tabCustomerReviews #BVRRSourceID > div .description {
  font-size: 1.1em;
  display: block;
  margin: .3em 0;
  color: #666;
}
#productDetailsWrap #tabCustomerReviews #BVRRSourceID > div .dtreviewed {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
  color: #bbb;
}
#productDetailsWrap #tabCustomerReviews .MobileBVNoReviewMsg {
  font-size: .9em;
  font-style: italic;
  color: #bbb;
  margin: 2em 0;
  display: block;
}
#productDetailsWrap #tabCustomerReviews #BVDefaultLink {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 16em;
  color: #757575;
  text-decoration: none;
  border: 1px solid #D2D2D2;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #fdfdfd, #e9e9e9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e9e9e9', GradientType=0);
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: 0 0.1em 0.1em #ffffff inset;
  -moz-box-shadow: 0 0.1em 0.1em #ffffff inset;
  box-shadow: 0 0.1em 0.1em #ffffff inset;
  padding: 0.5em 1em;
}
#productDetailsWrap #tabCustomerReviews .txt_ProductReviews {
  margin: 0;
}
#productDetailsWrap #tabCustomerReviews .blueTab {
  font-size: 1.2em;
  padding: 1em;
  background-color: #f3f7f8;
  background-image: linear-gradient(to right top, #f3f7f8 0%, #f3f7f8 48%, #e5e9ea 48%, #e5e9ea 52%, #f3f7f8 52%, #f3f7f8 100%);
  background-size: 6px 6px;
  -webkit-box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
  -moz-box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
  color: #333;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
}
#productDetailsWrap #tabCustomerReviews .blueTab h3 {
  margin: 0;
}
#recommendedProducts .new-productRecommendationsTitle {
  display: none;
}
#recommendedProducts .new-title {
  font-size: 1.2em;
  padding: 1em;
  background-color: #f3f7f8;
  background-image: linear-gradient(to right top, #f3f7f8 0%, #f3f7f8 48%, #e5e9ea 48%, #e5e9ea 52%, #f3f7f8 52%, #f3f7f8 100%);
  background-size: 6px 6px;
  -webkit-box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
  -moz-box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
  color: #333;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
}
#recommendedProducts .new-recommendedProduct {
  margin: 0.8em;
}
#recommendedProducts .new-recommendedProductWrapper {
  padding-bottom: 1em;
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  width: 33.22225%;
  text-align: center;
  -webkit-box-shadow: -1px 0px 0px #e4e4e4;
  -moz-box-shadow: -1px 0px 0px #e4e4e4;
  box-shadow: -1px 0px 0px #e4e4e4;
  border-bottom: 1px solid #E4E4E4;
  min-height: 16em;
}
#recommendedProducts .new-recommendedProductWrapper img {
  margin: 1em 0;
}
#recommendedProducts .new-recommendedProductWrapper a,
#recommendedProducts .new-recommendedProductWrapper span {
  text-decoration: none;
}
#recommendedProducts .new-productTitle {
  display: block;
  color: #333;
  margin-bottom: .3em;
}
#recommendedProducts .new-productPrice {
  font-weight: bold;
}
#productPurchasInfo {
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 2em;
  background: #F6F9FA;
}
#productIdentity {
  background-color: #f3f7f8;
  background-image: linear-gradient(to right top, #f3f7f8 0%, #f3f7f8 48%, #e5e9ea 48%, #e5e9ea 52%, #f3f7f8 52%, #f3f7f8 100%);
  background-size: 6px 6px;
  -webkit-box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
  -moz-box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
  border: 1px solid #E3E3E3;
  border-left: none;
  border-right: none;
}
#productIdentity .prices,
#productIdentity .shoeInfo {
  padding: .8em .5em;
  width: 45%;
}
#productIdentity .shoeInfo {
  padding-top: 1em;
  text-align: left;
}
#productIdentity .prices {
  text-align: right;
}
#productIdentity .price {
  font-size: 2em;
}
#productIdentity .originalPrice,
#productIdentity .name,
#productIdentity .rating {
  display: block;
  font-size: .9em;
}
#productIdentity .originalPrice {
  font-weight: normal;
  font-style: italic;
}
#productIdentity .rating {
  display: block;
}
#productIdentity .rating.starRating00,
#productIdentity .rating.starRating05,
#productIdentity .rating.starRating10,
#productIdentity .rating.starRating15,
#productIdentity .rating.starRating20,
#productIdentity .rating.starRating25,
#productIdentity .rating.starRating30,
#productIdentity .rating.starRating35,
#productIdentity .rating.starRating40,
#productIdentity .rating.starRating45,
#productIdentity .rating.starRating50 {
  background: url(/Content/core/mobile/images/stars.png) left center no-repeat;
  height: 24px;
}
#productIdentity .rating.starRating00 {
  width: 1px;
}
#productIdentity .rating.starRating05 {
  width: 10px;
}
#productIdentity .rating.starRating10 {
  width: 24px;
}
#productIdentity .rating.starRating15 {
  width: 34px;
}
#productIdentity .rating.starRating20 {
  width: 47px;
}
#productIdentity .rating.starRating25 {
  width: 57px;
}
#productIdentity .rating.starRating30 {
  width: 68px;
}
#productIdentity .rating.starRating35 {
  width: 80px;
}
#productIdentity .rating.starRating40 {
  width: 92px;
}
#productIdentity .rating.starRating45 {
  width: 104px;
}
#productIdentity .rating.starRating50 {
  width: 115px;
}
#productIdentity .name {
  font-weight: normal;
  color: #666;
}
#productIdentity .brand {
  font-weight: bold;
  color: #333;
  font-size: 1.2em;
}
.content {
  zoom: 1;
}
.content:before,
.content:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.content:after {
  clear: both;
}
.jsSupport [id*="ContentPlaceHolder1_pnlInstock"],
.jsSupport #ctl00_ContentPlaceHolder1_ddlSort,
.jsSupport #ctl00_ContentPlaceHolder1_TopNav_pnlNavHeader {
  visibility: hidden !important;
}
.cart #boxes #mask {
  display: none !important;
}
.cart .content {
  position: relative;
}
.cart .content > br,
.cart .content > .errorMessages {
  display: none;
}
.cart .MobileItemCount {
  position: relative;
  background-color: #f3f7f8;
  background-image: linear-gradient(to right top, #f3f7f8 0%, #f3f7f8 48%, #e5e9ea 48%, #e5e9ea 52%, #f3f7f8 52%, #f3f7f8 100%);
  background-size: 6px 6px;
  -webkit-box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
  -moz-box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
  text-align: right;
  padding: 1em;
  color: #333;
  font-style: italic;
  font-size: .9em;
}
.cart .MobileItemCount .returnToSearch {
  color: #3086b5;
  position: absolute;
  top: 1em;
  left: 1em;
  text-decoration: none;
  font-style: normal;
}
.cart .MobileItemCount .returnToSearch:before {
  content: "◀";
  font-size: .85em;
  margin-right: .15em;
}
.cart a[href='javascript:GoBackToLastSearch();'] {
  display: none;
}
.cart .items {
  border-color: #DDDDDD !important;
  padding-right: 1.5em;
}
.cart .items .MobilePriceText {
  color: #666;
}
.cart .items input[type="submit"] {
  display: inline-block;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: normal;
  color: #333333;
  text-decoration: none;
  border: 1px solid #AEACAC;
  background-color: #e1e1e1;
  background-image: linear-gradient(to bottom, #eeeeee, #cdcdcd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cdcdcd', GradientType=0);
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  -webkit-box-shadow: 0 0.1em 0.1em #ffffff inset;
  -moz-box-shadow: 0 0.1em 0.1em #ffffff inset;
  box-shadow: 0 0.1em 0.1em #ffffff inset;
  padding: 0.5em 1em;
}
.cart .items td {
  vertical-align: top;
}
.cart .items td:nth-of-type(1) {
  width: 25%;
  text-align: center;
}
.cart .items td:nth-of-type(2) {
  width: 50%;
  text-align: left;
}
.cart .items td:nth-of-type(4) {
  width: 20%;
  text-align: right;
  color: inherit;
}
.cart .items td:nth-of-type(3) {
  display: none;
}
.cart .items .cartProductInfo > table {
  margin-top: 1em;
  font-size: 1.1em;
}
.cart .items .cartProductInfo > table tr:nth-of-type(1) td {
  line-height: .95em;
  color: #333;
  font-size: .95em;
  white-space: nowrap;
}
.cart .items .cartProductInfo > table tr:nth-of-type(1) td:after {
  content: ":";
  margin-left: -0.33em;
}
.cart .items .cartProductInfo > table tr:nth-of-type(1) td:nth-of-type(1) {
  visibility: hidden;
}
.cart .items .cartProductInfo > table tr:nth-of-type(2) select {
  display: none;
}
.cart .items .cartProductInfo > table tr:nth-of-type(2) td:nth-of-type(2) {
  font-size: 1em;
}
.cart .items .cartProductInfo > table tr:nth-of-type(2) td:nth-of-type(2) span {
  font-size: inherit;
}
.cart .items .cartProductInfo > table tr:nth-of-type(2) td:nth-of-type(2) br:nth-of-type(2) {
  display: none;
}
.cart .items .cartProductInfo > table tr:nth-of-type(2) td:nth-of-type(2) .bogoMessage {
  margin-right: .35em;
  color: inherit;
}
.cart .items .cartProductInfo > table tr:nth-of-type(2) td:nth-of-type(2) .originalPrice {
  display: block;
}
.cart .items .cartProductInfo > table tr:nth-of-type(2) td:nth-of-type(2) .offerPrice {
  font-size: .9em;
  color: #3086b5;
}
.cart .items .cartProductDetails td:nth-of-type(3) {
  display: table-cell;
  width: 20%;
  text-align: right;
}
.cart .items .cartImageCell,
.cart .items .cartItemDescriptionCell {
  font-weight: normal;
  font-size: .9em;
  color: #797979;
}
.cart .items .cartImageCell a,
.cart .items .cartItemDescriptionCell a {
  color: #323232;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1em;
}
.cart .PromoCodeFields {
  width: 100%;
}
.cart .PromoCodeFields td:nth-of-type(1) {
  width: 10em;
  font-weight: bold;
  color: #333;
  font-size: .9em;
  text-transform: lowercase;
  text-align: right;
}
.cart .PromoCodeFields td:nth-of-type(1):before {
  content: "Add a";
  text-transform: none;
}
.cart .PromoCodeFields td:nth-of-type(2) {
  text-align: center;
}
.cart .PromoCodeFields td:nth-of-type(2) input {
  width: 90%;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: 0.1em 0.1em 0.3em #dddddd inset;
  -moz-box-shadow: 0.1em 0.1em 0.3em #dddddd inset;
  box-shadow: 0.1em 0.1em 0.3em #dddddd inset;
  border: 1px solid #D7D7D7;
  padding: .5em;
  margin: 1em 0;
}
.cart .PromoCodeFields td:nth-of-type(3) {
  text-align: left;
  width: 6em;
}
.cart .PromoCodeFields #modalLink {
  display: inline-block;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: normal;
  color: #333333;
  text-decoration: none;
  border: 1px solid #AEACAC;
  background-color: #e1e1e1;
  background-image: linear-gradient(to bottom, #eeeeee, #cdcdcd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cdcdcd', GradientType=0);
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  -webkit-box-shadow: 0 0.1em 0.1em #ffffff inset;
  -moz-box-shadow: 0 0.1em 0.1em #ffffff inset;
  box-shadow: 0 0.1em 0.1em #ffffff inset;
  padding: 0.5em 1em;
  margin: 0 1em;
}
.cart .SubmitCartButton {
  position: relative;
  clear: both;
  background-color: #b80609;
  background-image: linear-gradient(#db4047, #b90101 25%, #b21927);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db4047', endColorstr='#b21927', GradientType=0);
  border: 1px solid #781803;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.3em 1em;
  width: 80%;
  margin: 1em auto;
  border-radius: .3em;
}
.cart .SubmitCartButton:after {
  content: "Proceed to Checkout";
}
.cart .SubmitCartButton input {
  border: 1px solid green;
  opacity: 0;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.cart .MobileSubTotalLabel {
  float: none;
  margin: 0;
  padding: 1em;
  background: #F7F9FA;
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
}
.cart .MobileSubTotalLabel table {
  width: 95%;
  margin: 0 auto;
  line-height: 1.5em;
}
.cart .MobileSubTotalLabel table td:nth-of-type(1) {
  text-align: left;
  text-transform: uppercase;
}
.cart .MobileSubTotalLabel table tr:last-of-type td {
  color: #000;
  font-size: 1.3em;
  font-weight: bold;
}
.cart .CartSection {
  background-color: #fbf9ed;
  background-image: linear-gradient(to right top, #fbf9ed 0%, #fbf9ed 48%, #e5e9ea 48%, #e5e9ea 52%, #fbf9ed 52%, #fbf9ed 100%);
  background-size: 6px 6px;
  box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.8) inset;
}
.cart .CartSection #dialog {
  background: #FAF4D2;
  color: #000;
  padding: 1em;
  box-shadow: 0 0.3em 0.3em rgba(48, 134, 181, 0.05) inset;
}
.cart .CartSection #dialog table,
.cart .CartSection #dialog td {
  color: inherit;
}
.cart .CartSection #dialog .close,
.cart .CartSection #dialog br {
  display: none;
}
.cart .CartSection #dialog #line2 td {
  text-transform: lowercase;
}
.cart .CartSection #dialog #line2 td:before {
  content: "This ";
  text-transform: none;
}
.cart .CartSection #dialog #line3 {
  background: rgba(249, 200, 78, 0.34);
  margin: .5em 0;
  padding: .7em;
}
.cart .CartSection #dialog #line3 td {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.cart .CartSection #dialog #line3 td:nth-of-type(1) {
  width: 9.5em;
  text-align: left;
  font-weight: bold;
  font-size: .9em;
}
.cart .CartSection #dialog #line3 td:nth-of-type(2) {
  text-align: center;
}
.cart .CartSection #dialog #line3 td:nth-of-type(2) input {
  width: 85%;
  border-radius: 0.15em;
  box-shadow: 0.1em 0.1em 0.3em #dddddd inset;
  border: 1px solid #D7D7D7;
  padding: .3em;
}
.cart .CartSection #dialog #line3 td:nth-of-type(3) {
  width: 4em;
  text-align: right;
}
.cart .CartSection #dialog #line3 input[type='button'] {
  display: inline-block;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: normal;
  color: #333333;
  text-decoration: none;
  border: 1px solid #AEACAC;
  background-color: #e1e1e1;
  background-image: linear-gradient(to bottom, #eeeeee, #cdcdcd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cdcdcd', GradientType=0);
  border-radius: 0.4em;
  box-shadow: 0 0.1em 0.1em #ffffff inset;
  padding: 0.5em 1em;
}
.cart .CartSection #dialog #line4 td,
.cart .CartSection #dialog > label {
  margin-left: 0;
  font-size: .9em;
  color: #333;
}
.cart .CartSection #dialog #line4 td a,
.cart .CartSection #dialog > label a {
  color: #3086B5;
  margin-left: -0.1em;
}
.cart .CartSection #dialog #line4 td:after {
  content: ".";
}
.cart .errorMessages {
  background: #F9C84E;
  color: #000;
  padding: .5em 1em;
  border-bottom: 1px solid #ddd;
  font-size: 1.2em;
  font-weight: bold;
}
.cart .errorMessages li {
  list-style: none;
  font-size: .8em;
}
.cart #ctl00_ContentPlaceHolder1_cartTagPanel {
  background: none;
  font-size: .8em;
  padding: 1em;
  color: #666;
  text-align: center;
  display: block;
}
.cart #ctl00_ContentPlaceHolder1_cartTagPanel span {
  text-transform: uppercase;
}

/* hot PayPal button fix 2/26/14 */
.PaypalOption {
  display:block; text-align:center; margin-bottom:16px;
}
#ctl00_ContentPlaceHolder1_PayPalButton {
  margin:0 auto;
  display:block;
}

/*results grid*/
.itemList {
  font-size:0;
  overflow:hidden;
  border-bottom:1px solid #eaeaeb;
}

.itemList .items {
  box-shadow:none;
  vertical-align:top;
  display:inline-block;
  text-align:center;
  position: relative;
  font-size:1rem;
  width:50%;
}
.itemList .items a {
  display:block;
}
.itemList .items img {
  max-width:80%;
}
.itemList .items:before,
.itemList .items:after {
  position:absolute;
  background:#eaeaeb;
  top:0;
}

.itemList .items:before {
  height: 1px;
  width: 100vw;
  right: 0;
}
/*@media (min-aspect-ratio: 2/3) {*/
  .itemList .items {width:50%;}
  .itemList .items:nth-of-type(2n):before {content:"";}
/*}*/
@media (min-aspect-ratio: 4/3) {
  .itemList .items {width:33%;}
  .itemList .items:nth-of-type(3n):before {content:""}
}

@media (min-aspect-ratio: 16/9) {
  .itemList .items {width:25%;}
  .itemList .items:nth-of-type(2n):before {content:""}
}


.itemList .items:after {
  content:"";
}

.itemList .items:after {
  width:1px;
  height:100vh;
}

.itemList .items:after {
    left:-1px;
}

.thumbnailContainer .itemList .items { height:auto; }