#address-validation-content {
	.address-modal {
		padding:.5em 22px 1em;
		max-width:410px;
	}
}
#keepShippingSelection {
	margin-bottom:.25em;
}
.js-edit-validation-address {
	display:inline-block;
	padding:1em 0 2em;
	font-size:.95em;
}