[id$="-modal"], [class*="-modal"]:not([class*="overlay"]) {
	border: 1px solid $modalBorder;
	box-shadow: 0px 0px 8px 0px $modalShadowColor;

	> .modal-close {
		top:-.25em;
		@media (max-width:$sm) {
			top:0;
		}
		background: $secondaryBackgroundColor;
		background-image: linear-gradient(0deg, $modalCloseColor1 0%, $modalCloseColor2 89%, $modalCloseColor2 100%);
		color:#fff;
		font-size:2.75em;
		line-height: .85em;
		width: 1em;
		text-align: center;
		display: block;
		padding: 0 .1em .15em .1em;
		font-weight: 300;
		right: .25em;
		border-radius:0 0 $inputBorderRadius $inputBorderRadius;
		border:none;
		box-shadow:0 2px 4px rgba(0,0,0,.25);
	}
}

#shipping-details-modal {
	font-size: 14px;
	line-height: 20px;

	&, *:not(.modal-close) {
		color: $labelColor;
	}

	.heading {
		display: inline;
		color: black;
	}

	.details {
		&, * {
			color: $secondaryFontColor;
		}
	}
}

@media (min-width: $sm) {
	.modal-footer {
		.button.u-sm-auto {
			@include disabledButtonStyles(true);
		}
	}
}

#address-modal .is-valid .button {
	@include secondaryButtonStyles(true);
}