section .stepBody .saved-address-wrapper {
	padding-bottom:0;
}
#giftMessageInputWrapper .deemphasized {
	margin-bottom: 8px;
}

#giftMessageCharsRemaining {
	line-height:2em;
}
#shippingSelection {
	margin-bottom:0;
}