@import '../../variables/globals';
@import '../../mixins/_grid.scss';

@media screen and (min-width: $md) {
    @include grid('md');
    .g.space, .g.space > r {
        .u-md-1 { margin-right:0 !important }
    }
    .g {
	    &.space, &.space > .r {
				@include grid('md', $gutter);
			}
		}
}