@import '../../mixins/_grid.scss';

.g, .g > .r {
	letter-spacing: -0.31em; 
	*letter-spacing: normal; 
	*word-spacing: -0.43em; 
	text-rendering: optimizespeed; 
	display:flex;
	flex-flow: row wrap;
	align-content: flex-start;
}

.opera-only :-o-prefocus,
.g {
	word-spacing: -0.43em;
}

.g {
	[class*="u-"] {
		display: inline-block;
		*display: inline; 
		zoom: 1;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;
		text-rendering: auto;
	}
}

.g, [class*="u-"] {
	box-sizing:border-box;
}

.g [class*="u-"] {
	display: inline-block;
	*display: inline;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}

@include grid();


.g > .r { 
	width:100%;
}
.g {
	&.pad, &.pad .r {
		> [class*="u-"] {
			padding:1em;
		}
	}
	&.pad > .r {
		padding-bottom:1em;
	}
	&.space, &.space > .r {
		justify-content:space-between;
		display: flex;
		flex-flow: row wrap;
		@include grid('', 1em);
	}
	&.left, &.left > .r {
		justify-content: flex-start;
	}
	&.right, &.right > .r {
		justify-content: flex-end;
	}

	&.space > [class*="u-"] {
		margin-bottom:1em;
	}
	&.center, &.center > .r {
		justify-content: center;
	}
	&.center.space, &.center.space > .r {
		[class*="u-"]:not(:last-of-type) {
			margin-right:1em;
		}
	}
}


.lt-ie10 {
	.g {
		&.space {
			text-align:justify;
		}
		&.space:after {
			content:'';
			display:inline-block;
			width:100%;
		}
		&.center, &.center > .r {
			text-align:center;
		}
		&.left, &.left > .r {
			text-align:left;
		}
		&.right, &.right > .r {
			text-align:right;
		}
	}
}