@import "variables/theme";
@import "variables/globals";

.error-message {
  color: red; }


.edit.disabled {
  display: none; }

.ibm {
  display:inline-block;
  vertical-align:middle;
}

.nowrap {
  white-space: nowrap;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*:before, *:after {
  box-sizing:inherit;
}

body {
  padding: 0;
  background-color: white; } 

a {
  color: #333; }

#body-content ~ img, #body-content ~ iframe[src*="google"] {
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
  pointer-events:none;
}

iframe {
  border: 0; }

iframe[src*=flashtalking] {
  top: 0;
  z-index: -1; }

table {
  width: 100%; }

hr {
  border:0;
  border-bottom: 1px solid #DADADA; }

em {
  font-style: normal;
  font-weight: 900; }

.edit {
  position:relative;
  z-index:1;
  float: right;
  text-decoration: none; }

.edit:hover, .edit:active, .edit:focus {
  box-shadow: none;
  background-image: none;
  background-color: #333333;
  border: 1px solid #333333;
  color: white; }

.button {
  display: block;
  width: 100%;
  color: white;
  background-color: #333333;
  border-radius: $inputBorderRadius;
  padding: 0.68em 0;
  font-size: 16px;
  border: none;
  text-decoration: none;
  font-weight: 400; }

.button:hover, .button:active, .button:focus {
  box-shadow: none;
  background-image: none; }

.button.active {
  box-shadow: none; }

label {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 4px; }

label .inheritFont {
  font-size: inherit;
  font-weight: 400; }

input, select, #addressLine1Input {
  appearance: none;
}

label + input,
label ~ input[type="password"],
label + .togglePassword,
label + .dropdown,
label + .deemphasized + input,
label + #cartNumberWrapper,
label + .togglePassword,
label + .togglePassword + input,
.deemphasized + textarea {
  margin-top:8px;
}

label + .deemphasized {
  font-size: 0.8em;
}

.form-title {
  padding:0 0 1em 0;
  margin:0;
}

input {
  display: block;
  height: initial;
  width: 100%; }

input[type="text"], input[type="password"], input[type="email"],
input[type="url"], input[type="date"], input[type="month"],
input[type="time"], input[type="datetime"], input[type="datetime-local"],
input[type="week"], input[type="number"], input[type="search"],
input[type="tel"], input[type="color"] {
  border-radius: $inputBorderRadius;
  border: 1px solid #AAAAAA;
  font-size: 16px;
  padding: 12px;
  background-color: white;
  font-weight: 400;
  box-shadow: none; }

input[type="checkbox"] {
  display: none;

  & + label {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    font-size: 15px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    * {
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }

    div {
      float: left;
      display: inline-block;
    }

    > span.inputReplacement {
      display: inline-block;
      background-color: white;
      border: 1px solid #AAAAAA;
      border-radius: $inputBorderRadius;
      margin-right: 9px;
      cursor: pointer;
      line-height: 0;
      overflow: hidden;
      height: 30px;
      width: 30px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      touch-callout: none;

      svg {
        display: none;
        height: 28px;
        width: 28px;
        line-height: 28px;
        text-align: center;
        font-size: 24px;
        margin-top: 1px;
      }
    }
  }

  &:checked + label > span.inputReplacement svg {
    display: inline-block;
  }

  + label {
    .inputReplacement {
      background: url(/Assets/Shared/Images/check-2x.png) no-repeat no-repeat;
      background-position: -9999px -9999px;
      background-size:21px;
    }
  }

  &:checked + label {
    .inputReplacement {
      background-position: 4px 5px;
    }
    svg {
      display:none !important;
    }
  }
}

input[type="radio"] {
  display: none;

  & + label {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;

    > span.inputLabel .deemphasized {
      padding-top: 3px;
      line-height: 12px;
      font-weight: 300;
    }
  }

  &:checked + label > span.inputReplacement {
    border-color: black;

    span {
      background-color: black;
      border-radius: 50%;
    }
  }
}

@import "partials/inputs";

#giftCardForm .item {
    padding: 0; }



input:checked + label {
  .item-title {
    color:#333;
  }
}


textarea {
  display: block;
  width: 100%;
  height: 6em;
  border-radius: $inputBorderRadius;
  border: 1px solid #AAAAAA;
  font-size: 16px;
  padding: 12px;
  background-color: white;
  font-weight: 300;
  box-shadow: none; }

select {
  height: auto;
  border-radius: $inputBorderRadius;
  border: 1px solid #AAAAAA;
  font-size: 16px;
  padding: 12px;
  background-color: white;
  font-weight: 300;
  box-shadow: none; }

.dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  border-radius: $inputBorderRadius;
  border: 1px solid #AAAAAA;
  background-color: white;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-callout: none;

  select, div {
    vertical-align: middle;
    font-size: 16px;
    padding: 12px; }

  select {
    -webkit-flex: flex-grow;
    -ms-flex: flex-grow;
    flex: flex-grow;
    z-index: 1;
    height: initial;
    display:block;
    width: 100%;
    font-weight: 400;
    border: none;
    color: black;
    background-color: transparent;
    &::-ms-expand {
      display: none;
    }
  }

  div.arrow {
    position: absolute;
    right: 0;
    color: #AAAAAA;
    border-left: 1px solid #AAAAAA;
    height: 100%;
    width: 41px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    pointer-events:none;
  }
}

.togglePassword {
  position: absolute;
  right: 24px;
  font-size: 16px;
  padding: 13px 0;
  font-weight: 300;
  cursor: pointer; }

.togglePassword .hideMsg {
  display: none; }

section {
  max-width: 960px; 
  margin-bottom: 10px;
}

.stepHeader {
  display: block;
  background-color: white;
  padding: 12px 20px;
  border-bottom: 1px solid #EDEDED;
  cursor: default; }

section {
  .stepBody {
  overflow: hidden; }

  .stepBody {
    .subsection {
      position: relative;
      color: #333333;
      padding: 20px;
      border-bottom: 1px solid #D6D6D6;

      &:last-child {
        border-bottom: none;
      }

      .subsection {
        padding: 0 0 20px 0;
        border: none;
      }
    }
  }

  

  &.complete .stepHeader .headerText .stepNumber {
    .number {
      display: none;
    }

    .done {
      display: inline-block;
      max-height:52px; //IE HACK
    }
  }

  .stepHeader .edit {
    display: none; }
}

.floater {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  font-size: small; }

#internationalCCLink {
    display: none; }

.active #internationalCCLink {
    display: none; }

section {
  &.complete .stepHeader .edit, &.showEdit .stepHeader .edit {
    display: block;
  }

  &.active {
    .stepHeader {
      border-bottom: 1px solid #EDEDED;
      cursor: default;
    }

    .stepBody {
      display: block;
    }
  }

  &#reviewStep {
    .stepBody .subsection {
      &:last-child {
        padding-bottom: $standardPadding;
      }

      #paymentSummary {
        padding-bottom: $standardPadding;
      }
    }

    h2 {
      margin-bottom: 6px;

      &:first-child {
        margin-top: 0;
      }
    }

    .panel {
      margin-bottom: $standardPadding;

      &:last-child {
        margin-bottom: 0;
      }

      .item {
        position: relative;
      }
    }
  }
}

.summary {
  background-color: #fff;

  .row {
    border: 1px solid #AAA;
    border-radius: 2px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    > div {
      padding: $standardPadding;

      &.info {
        margin-bottom: 0;
      }

      &.editCell {
        display: flex;
        margin-bottom: 0;

        a {
          flex-direction: column;
          flex-grow: 2;
        }
      }
    }
  }
}

section#reviewStep .panel li.item {
  border-width: 1px; }

#top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  text-align: center;
  padding: ($standardPadding / 2) $standardPadding;
  background-color: white;
  -webkit-transform: translateZ(0);

  .mobile-cart-link {
    color:#333;
  }

  .header-cart-link {
    text-decoration: none;
    color:#666;
    .header-cart-link-icon {
      margin-right:4px;
    }
    .cart-link-text {
      text-decoration: underline;
    }
  }
}

#top h2 {
  margin: 0;
  font-weight: 400; }

#top a, #top img {
  display: inline-block; }

#top .icon {
  height: 30px;
  width: 30px; }

#mobileTop, #desktopTop {
  padding: ($standardPadding / 2) $standardPadding;
  max-width: 1004px;
  margin: 0 auto; }
#mobileTop {
  background-color: white;
  padding: 0;
  align-items: center;
  .mobile-header-total {
    color: #666666;
    font-weight: 700;
    margin-bottom: 2px;
  }
}

#mobileTop > div, #desktopTop > div {
  text-align: center; }

#mobileTop > div > *, #desktopTop > div > * {
  vertical-align: middle; }

#mobileTop > div:first-child, #desktopTop > div:first-child {
  text-align: left; }

#mobileTop > div:last-child, #desktopTop > div:last-child {
  text-align: right; }

#desktopTop {
  display: none; }

#sidebar {
  display: none; }

.deemphasized {
  color: #999999;
}

.header {
  margin-bottom: 7px; }

.header h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0; }

.details a {
  vertical-align: middle;
  color: inherit; }

.details a img {
  display: block; }

.panel {
  padding: 12px;
  overflow: hidden; }

ul.panel {
  padding: 0; }

ul.panel li.link {
  padding: .75em; }

ul.panel li.item .edit {
  position: absolute;
  top: $standardPadding;
  right: $standardPadding; }

ul.panel li.item:last-child {
  border-bottom: 0; }

.inputWrapper, #gift-card-input .inputWrapper:last-child {
  position: relative;
  margin-bottom: 18px; }

.inputWrapper:last-child {
  margin-bottom: 0; }

#paymentType .inputReplacement {
  display: none; }

#paymentType input {
  overflow: hidden; }

#paymentType input:checked + label {
  color: white;
  background-color: #AAAAAA; }

#paymentType label {
  display: block;
  margin: 0;
  width: 100%;
  text-align: center;
  cursor: pointer; }

#shippingSelection {
  margin-bottom: 23px; }

#shippingStep {
  border-top: 1px solid #EDEDED; }

.block {
  display: block; }

#popupForms {
  display: none; }

.g-recaptcha {
  margin-bottom: 16px; }

.clearfix {
  clear: both;
  float: none; }

.attention {
  color: #D0021B; }

.quickTotal .deemphasized {
  font-size: 10px; }

.quickTotal .total {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700; }

#totals .item {
  font-weight: 400;
  padding: 0; }

#totals .item.total {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0; }

#totals .item .amount {
  float: right;
}

#confirmationWrapper {
  color: #333333;

  h1 {
    color: black;
    margin-top: 0;
    font-weight: 400;
  }

  > div {
    display:flex;

    @media (max-width: $md) {
      margin-bottom:0;
    }

    &:first-child {
      border-bottom: 1px solid #AAAAAA;
    }
  }

  .panel {
    margin-bottom: $standardPadding;
  }

  .inputWrapper {
    text-align: left;
    margin-top: $standardPadding;

    &:last-child {
      margin-top: 0;
    }
  }
}

#contentWrapper {
  position: relative;
  max-width: 1004px;
  margin: 0 auto;
}

#footer {
  padding: $standardPadding;
  font-size: 10px;

  #copyrightLine {
    margin-bottom: 28px;
  }

  #back {
    font-size: 13px;
  }

  #copyright {
    float: right;
    color: #333333;
  }

  #legalInfo {
    color: #AAAAAA;
  }

  svg {
    width: 8px;
  }
}

#billingAddressReview {
  padding-bottom: $standardPadding;
  padding-left: 40px; // this is the width of the inputReplacement plus the right margin + 1px
  overflow: hidden; }

#billingAddressEntry {
  display: none;
  > .subsection {
    padding-bottom:0;
  }
  .u-1.link {
    margin-bottom:0;
  }
}

#giftMessageInputWrapper {
  display: none; }

#giftMessageInputWrapper .deemphasized {
  font-size:0.9em;
  font-weight:400;
}

#giftCardForm {
  width: 100%;
  float: left;
}

#giftCardImage {
  display: none;
  width: 50%;
  float: left;
  padding-left:12px;
}

#gift-card-balance {
  text-align: center; }
#gift-card-balance .drumroll {
  color: #999999;
  font-style: italic; }
#gift-card-balance h1 {
    margin-top: 0; }

#orderSummary {
  border-bottom: none; }

#loginWrapper {
  margin-bottom: $standardPadding;
  background-color: #EEEEEE;
  border-bottom: 1px solid #EDEDED;
  overflow: hidden;

  @media (max-width: $sm) {
    margin-bottom: 0;
  }

  .forgot-password {
    display:inline-block;
    margin:.25em 0 1.75em;
  }

  h2 {
    margin-top: 0;
  }

  p {
    color: #333333;

    em {
      color: black;
    }
  }

  > .g > div {
    padding: $standardPadding;
    border-bottom: 1px solid #AAAAAA;

    &:last-child {
      border-bottom: none;
    }
  }
}

#guestLogin {
  @media (max-width:$sm) {
    h2, p {
      display:none;
    }
  }
}



ul.panel li.link:after {
  content: '>';
  color: #333; }

.different {
  line-height: 20px;
  color: black;
  text-decoration: underline;
  cursor: pointer; }

.different input[type="radio"] + label > span.inputReplacement {
  opacity: 0; }

.different .icon-arrow {
  height: 20px;
  width: 20px;
  float: right;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

#cartNumberWrapper {
  position: relative; }

#cardNumberInput {
  padding-left: 63px;
  padding-right: 48px;
  margin-bottom: .25em;

  &::-ms-clear {
    display: none;
  }
}

#cardType {
  position: absolute;
  top: 0;
  left: 0px;
  height: 27px;
  width: 39px;
  overflow: hidden;
  margin-left: 10px;
  margin-top: 8px; 

  img {
    max-width:none;
  }
}

#cardTypeIcon {
  position: absolute;
  overflow: visible;
  height: 24px;
  top: 1px;
  left: 1px; }

.validIcon {
  color: green;
  height: 24px;
  width: 24px;
}

.invalidIcon {
  color: #E83434;
  height: 24px;
  width: 24px;
}

.drawer .title .validIcon {
  display: inline-block;
  position: initial;
  margin: 0 0 5px 0;
}

.validIcon, .invalidIcon {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 12px;
  margin-top: 10px;
}

.cardNumber * {
  vertical-align: middle; }

.cardExpiration {
  color: #AAAAAA; }

.mfp-bg {
  background-color: white; }

.mfp-container {
  padding: 0;

  .mfp-content {
    height: 100%;
    background-color: white;
    padding: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.31), 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    > * {
      height: 100%;
      padding: 20px;
    }
  }
}

.mfp-close-btn-in .mfp-close {
  color: #AAAAAA; }

#paypalLogoWrapper {
  margin-bottom: 0;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center; }

.icon-arrow {
  background-image: url("/Assets/Shared/Images/arrow-icon.png"); }

.icon-cart {
  background-image: url("/assets/images/cart-icon-mobile.png"); }

.icon-card {
  display: inline-block;
  background-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8' standalone='no'?><svg width='220px' height='24px' viewBox='0 0 220 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns'><title>CC-Types</title><desc></desc><defs><rect id='path-1' x='0' y='0' width='34' height='22' rx='3'></rect></defs><g id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' sketch:type='MSPage'><g id='CC-Types' sketch:type='MSLayerGroup'><g id='Card:-Blank' sketch:type='MSShapeGroup'><g><rect id='stroke' fill='#7D9769' x='0' y='0' width='36' height='24' rx='4'></rect><rect id='Fill' fill='#C4DAB0' x='1' y='1' width='34' height='22' rx='3'></rect><rect id='Stripe' fill='#424143' x='1' y='4.40740741' width='34' height='4.25925926'></rect></g></g><g id='Card:-Visa' transform='translate(46.000000, 0.000000)'><rect id='stroke' fill='#A5A5A5' sketch:type='MSShapeGroup' x='0' y='0' width='36' height='24' rx='4'></rect><g id='Fille' transform='translate(1.000000, 1.000000)'><mask id='mask-2' sketch:name='Mask' fill='white'><use xlink:href='#path-1'></use></mask><use id='Mask' fill='#F3F4F4' sketch:type='MSShapeGroup' xlink:href='#path-1'></use><rect id='Rectangle-4' fill='#5565AF' sketch:type='MSShapeGroup' mask='url(#mask-2)' x='0' y='-1' width='34' height='6'></rect><rect id='Rectangle-4-Copy' fill='#E7A52D' sketch:type='MSShapeGroup' mask='url(#mask-2)' x='0' y='17' width='34' height='5'></rect></g><g id='VISA' transform='translate(8.500000, 8.000000)' sketch:type='MSShapeGroup'><path d='M1.69283871,6.17969231 C1.94167742,5.472 2.11635484,5.01846154 2.21932258,4.81907692 L4.28787097,0.588307692 L5.80112903,0.588307692 L2.21932258,7.61723077 L0.620258065,7.61723077 L0.0122580645,0.588307692 L1.425,0.588307692 L1.66893548,4.81907692 C1.68119355,4.96307692 1.68793548,5.17723077 1.68793548,5.45846154 C1.68058065,5.78892308 1.6713871,6.02953846 1.65912903,6.17969231 L1.69283871,6.17969231' id='Fill-4-Copy' fill='#5565AF'></path><path d='M5.16922581,7.61723077 L6.66348387,0.588307692 L8.12403226,0.588307692 L6.62977419,7.61723077 L5.16922581,7.61723077' id='Fill-5-Copy' fill='#5565AF'></path><path d='M12.6006774,5.54030769 C12.6006774,6.21107692 12.3634839,6.73969231 11.8921613,7.12923077 C11.4196129,7.51876923 10.779129,7.71323077 9.97193548,7.71323077 C9.26587097,7.71323077 8.69832258,7.56923077 8.26745161,7.28061538 L8.26745161,5.96307692 C8.88280645,6.30892308 9.45525806,6.48246154 9.98174194,6.48246154 C10.3384516,6.48246154 10.6185484,6.41538462 10.8195806,6.27815385 C11.0206129,6.14215385 11.121129,5.95630769 11.121129,5.71815385 C11.121129,5.58092308 11.0996774,5.45969231 11.0567742,5.35507692 C11.013871,5.25169231 10.9513548,5.15446154 10.8722903,5.064 C10.792,4.97415385 10.5946452,4.81169231 10.2783871,4.57353846 C9.83770968,4.25538462 9.52758065,3.94276923 9.34922581,3.63076923 C9.16964516,3.32 9.08077419,2.98523077 9.08077419,2.62584615 C9.08077419,2.21230769 9.17883871,1.84369231 9.37741935,1.51753846 C9.57477419,1.19261538 9.85609677,0.939692308 10.2226129,0.758153846 C10.5879032,0.577230769 11.0077419,0.486769231 11.4845806,0.486769231 C12.1765484,0.486769231 12.8109032,0.645538462 13.3858065,0.962461538 L12.8636129,2.08246154 C12.3659355,1.84553846 11.9062581,1.72676923 11.4845806,1.72676923 C11.2185806,1.72676923 11.0022258,1.79876923 10.8336774,1.94338462 C10.6639032,2.08738462 10.5799355,2.27876923 10.5799355,2.51569231 C10.5799355,2.71138462 10.6326452,2.88246154 10.7380645,3.02769231 C10.8434839,3.17353846 11.0794516,3.36676923 11.4465806,3.60676923 C11.8320968,3.86338462 12.122,4.14646154 12.3132258,4.45538462 C12.5044516,4.76615385 12.6006774,5.12676923 12.6006774,5.54030769' id='Fill-6-Copy' fill='#5565AF'></path><path d='M15.630871,4.69415385 L16.5312258,2.84307692 C16.7383871,2.41415385 16.9124516,2.00676923 17.0534194,1.62215385 L17.0534194,1.79507692 C17.0534194,2.18646154 17.0687419,2.592 17.1012258,3.01169231 L17.2256452,4.69415385 L15.630871,4.69415385 M18.1309032,0.559384615 L16.3449032,0.559384615 L12.6772903,7.61723077 L14.2095484,7.61723077 L15.0332903,5.944 L17.2979677,5.944 L17.4125806,7.61723077 L18.8345161,7.61723077 L18.1309032,0.559384615' id='Fill-15-Copy' fill='#5C6BB2'></path></g></g><g id='Card:-Mastercard' transform='translate(92.000000, 0.000000)' sketch:type='MSShapeGroup'><rect id='stroke' fill='#323D64' x='0' y='0' width='36' height='24' rx='4'></rect><rect id='Fill' fill='#5565AF' x='1' y='1' width='34' height='22' rx='3'></rect><g id='Master-card-logo' transform='translate(6.500000, 5.500000)'><path d='M11.7395833,2.21 C10.5685,0.858 8.85819444,0 6.94791667,0 C3.41997222,0 0.559027778,2.91005 0.559027778,6.5 C0.559027778,10.08865 3.41997222,13 6.94791667,13 C8.85819444,13 10.5685,12.142 11.7395833,10.78935 C10.7480278,9.64405 10.1423611,8.1471 10.1423611,6.5 C10.1423611,4.8529 10.7480278,3.3553 11.7395833,2.21' id='Fill-4-Copy-2' fill='#EB564B'></path><path d='M11.7395833,2.21 C10.7480278,3.3553 10.1423611,4.85355 10.1423611,6.5 C10.1423611,8.14645 10.7480278,9.64405 11.7395833,10.78935 C12.7311389,9.64405 13.3368056,8.1471 13.3368056,6.5 C13.3368056,4.8529 12.7311389,3.3553 11.7395833,2.21' id='Fill-5-Copy-2' fill='#EB564B'></path><path d='M16.53125,0 C14.6209722,0 12.9106667,0.858 11.7395833,2.21 C11.4629444,2.5298 11.2208056,2.8795 11.0086944,3.25 L12.4704722,3.25 C12.7030278,3.65625 12.8838333,4.09435 13.0269444,4.55 L10.4432778,4.55 C10.3135833,4.96795 10.2196667,5.40085 10.1755833,5.85 L13.2927222,5.85 C13.3144444,6.0645 13.3361667,6.279 13.3361667,6.5 C13.3361667,6.7197 13.3233889,6.93615 13.3023056,7.15 L10.1749444,7.15 C10.2190278,7.59915 10.3129444,8.03205 10.4426389,8.45 L13.0339722,8.45 C12.8915,8.9076 12.7004722,9.3418 12.4679167,9.75 L11.0080556,9.75 C11.2195278,10.1192 11.4623056,10.46955 11.7389444,10.78935 C12.9100278,12.142 14.6203333,13 16.5306111,13 C20.0585556,13 22.9195,10.08865 22.9195,6.5 C22.9201389,2.91005 20.0591944,0 16.53125,0' id='Fill-6-Copy-2' fill='#E9D419'></path></g></g><g id='Card:-Amex' transform='translate(138.000000, 0.000000)' sketch:type='MSShapeGroup'><rect id='stroke' fill='#6D95A4' x='0' y='0' width='36' height='24' rx='4'></rect><rect id='fill' fill='#5EC1EC' x='1' y='1' width='34' height='22' rx='3'></rect><g id='Amex' transform='translate(5.000000, 9.000000)' fill='#FFFFFF'><path d='M4.98225,6.7991 L4.68455,5.5811 L2.7248,5.5811 L2.41995,6.7991 L0.62855,6.7991 L2.59675,0.2765 L4.771,0.2765 L6.7639,6.7991 L4.98225,6.7991 L4.98225,6.7991 Z M4.3472,4.1412 L4.0872,3.0751 C4.02545,2.8385 3.95265,2.5326 3.8662,2.156 C3.7791,1.7794 3.72255,1.5099 3.6946,1.3475 C3.67055,1.4987 3.62115,1.7472 3.54835,2.0937 C3.4749,2.4402 3.3137,3.1234 3.06345,4.1419 L4.3472,4.1412 L4.3472,4.1412 Z' id='Fill-7-Copy'></path><path d='M10.04445,6.7991 L8.81075,2.1196 L8.7737,2.1196 C8.8322,2.9162 8.8608,3.535 8.8608,3.9774 L8.8608,6.7984 L7.41715,6.7984 L7.41715,0.3017 L9.58685,0.3017 L10.84525,4.9147 L10.87905,4.9147 L12.11145,0.3017 L14.287,0.3017 L14.287,6.7984 L12.7881,6.7984 L12.7881,3.9501 C12.7881,3.8024 12.7907,3.6386 12.79525,3.4573 C12.79915,3.276 12.81735,2.8336 12.85115,2.1287 L12.81345,2.1287 L11.596,6.7991 L10.04445,6.7991' id='Fill-8-Copy'></path><path d='M18.99885,6.7991 L15.4167,6.7991 L15.4167,0.3024 L18.99885,0.3024 L18.99885,1.7115 L17.0456,1.7115 L17.0456,2.7335 L18.8539,2.7335 L18.8539,4.1419 L17.0456,4.1419 L17.0456,5.3683 L18.99885,5.3683 L18.99885,6.7991' id='Fill-9-Copy'></path><path d='M25.4891,6.7991 L23.60345,6.7991 L22.42695,4.7691 L21.2641,6.7991 L19.4194,6.7991 L21.4201,3.4755 L19.53835,0.3024 L21.346,0.3024 L22.4354,2.3107 L23.4819,0.3024 L25.3435,0.3024 L23.4325,3.6127 L25.4891,6.7991' id='Fill-10-Copy'></path></g></g><g id='Card:-Discover' transform='translate(184.000000, 0.000000)' sketch:type='MSShapeGroup'><rect id='Stroke' fill='#B1AEAB' x='0' y='0' width='36' height='24' rx='4'></rect><rect id='Fill' fill='#FFF9F0' x='1' y='1' width='34' height='22' rx='3'></rect><path d='M35,16 L35,19.9907455 C35,21.6527109 33.6495018,23 32.0035095,23 L7,23 L35,16 Z' id='Rectangle-10' fill='#E6A124'></path><g id='Discover' transform='translate(4.000000, 10.000000)'><path d='M3.70917073,2.62 C3.70917073,3.33571429 3.50829268,3.88357143 3.10582927,4.26428571 C2.70195122,4.64428571 2.11912195,4.835 1.35734146,4.835 L0.137926829,4.835 L0.137926829,0.488571429 L1.48890244,0.488571429 C2.19197561,0.488571429 2.73731707,0.676428571 3.12492683,1.05071429 C3.51465854,1.425 3.70917073,1.94857143 3.70917073,2.62 L3.70917073,2.62 Z M2.76207317,2.64428571 C2.76207317,1.71071429 2.3532439,1.24428571 1.53770732,1.24428571 L1.05178049,1.24428571 L1.05178049,4.07357143 L1.44292683,4.07357143 C2.32282927,4.07428571 2.76207317,3.59714286 2.76207317,2.64428571 L2.76207317,2.64428571 Z' id='Fill-2-Copy' fill='#414042'></path><path d='M4.48156098,0.488571429 L5.394,0.488571429 L5.394,4.835 L4.48156098,4.835 L4.48156098,0.488571429 Z' id='Fill-3-Copy' fill='#414042'></path><path d='M9.019,3.62785714 C9.019,4.02142857 8.87895122,4.32928571 8.59885366,4.55571429 C8.31804878,4.78142857 7.93043902,4.89571429 7.43178049,4.89571429 C6.97273171,4.89571429 6.56602439,4.80785714 6.21236585,4.63428571 L6.21236585,3.77785714 C6.50236585,3.91 6.74921951,4.00071429 6.95009756,4.05571429 C7.15097561,4.10857143 7.33487805,4.135 7.50180488,4.135 C7.70126829,4.135 7.85617073,4.09571429 7.96226829,4.01928571 C8.06765854,3.94285714 8.12282927,3.82642857 8.12282927,3.675 C8.12282927,3.59 8.10019512,3.51428571 8.05139024,3.44785714 C8.00541463,3.38071429 7.93609756,3.31642857 7.84414634,3.25571429 C7.75290244,3.195 7.56687805,3.09571429 7.28607317,2.96142857 C7.02365854,2.83642857 6.82702439,2.71571429 6.6947561,2.60142857 C6.56178049,2.48714286 6.4585122,2.35357143 6.38,2.2 C6.3014878,2.04642857 6.26258537,1.86785714 6.26258537,1.66428571 C6.26258537,1.28 6.39060976,0.977857143 6.6494878,0.757857143 C6.90836585,0.537142857 7.26414634,0.427857143 7.71965854,0.427857143 C7.94387805,0.427857143 8.1574878,0.454285714 8.3604878,0.507857143 C8.56278049,0.560714286 8.77639024,0.637142857 8.99707317,0.733571429 L8.70282927,1.45 C8.47295122,1.355 8.28268293,1.28714286 8.13202439,1.25071429 C7.98207317,1.21357143 7.8342439,1.19428571 7.6892439,1.19428571 C7.51665854,1.19428571 7.38368293,1.23428571 7.29243902,1.31642857 C7.19978049,1.39785714 7.15380488,1.50357143 7.15380488,1.63428571 C7.15380488,1.71571429 7.17219512,1.78571429 7.20897561,1.84714286 C7.24646341,1.90785714 7.30587805,1.96571429 7.38792683,2.02214286 C7.46926829,2.07857143 7.66307317,2.18 7.9665122,2.32714286 C8.36826829,2.52142857 8.64412195,2.71642857 8.79407317,2.91142857 C8.94402439,3.105 9.019,3.34428571 9.019,3.62785714' id='Fill-4-Copy-3' fill='#414042'></path><path d='M11.626878,1.19285714 C11.283122,1.19285714 11.017878,1.32428571 10.8290244,1.58357143 C10.6387561,1.84428571 10.5468049,2.20857143 10.5468049,2.67357143 C10.5468049,3.64214286 10.9068293,4.12714286 11.626878,4.12714286 C11.9289024,4.12714286 12.293878,4.05285714 12.7246341,3.89857143 L12.7246341,4.67142857 C12.3716829,4.82071429 11.977,4.89428571 11.5405854,4.89428571 C10.9153171,4.89428571 10.4364634,4.70142857 10.1040244,4.31785714 C9.77229268,3.935 9.60678049,3.38428571 9.60678049,2.66642857 C9.60678049,2.21428571 9.68882927,1.81857143 9.85221951,1.47928571 C10.0149024,1.13785714 10.2497317,0.878571429 10.5545854,0.697142857 C10.8601463,0.515714286 11.2173415,0.425 11.6282927,0.425 C12.0463171,0.425 12.4671707,0.527142857 12.8880244,0.731428571 L12.5937805,1.48071429 C12.4318049,1.40357143 12.2712439,1.33642857 12.1071463,1.27857143 C11.9437561,1.22071429 11.7831951,1.19285714 11.626878,1.19285714' id='Fill-5-Copy-3' fill='#414042'></path><path d='M14.9781463,0.488571429 C16.166439,0.488571429 17.1305122,1.46142857 17.1305122,2.66214286 C17.1305122,3.86214286 16.166439,4.83571429 14.9781463,4.83571429 C13.7891463,4.83571429 12.8257805,3.86214286 12.8257805,2.66214286 C12.8257805,1.46142857 13.7891463,0.488571429 14.9781463,0.488571429' id='Fill-9-Copy-2' fill='#E6A124'></path><path d='M20.951439,0.488571429 L20.0305122,0.488571429 L19.2170976,3.075 C19.0919024,3.53285714 19.0183415,3.85 18.9964146,4.03214286 C18.9843902,3.95214286 18.9539756,3.81285714 18.9065854,3.60928571 C18.8599024,3.405 18.8118049,3.22857143 18.7672439,3.075 L17.9573659,0.488571429 L17.5350976,0.488571429 L17.1248537,0.757142857 L18.4949268,4.835 L19.490122,4.835 L20.951439,0.488571429' id='Fill-14-Copy' fill='#504F51'></path><path d='M23.9723902,0.488571429 L21.4925366,0.488571429 L21.4925366,4.835 L23.9723902,4.835 L23.9723902,4.07357143 L22.4049756,4.07357143 L22.4049756,2.95357143 L23.8641707,2.95357143 L23.8641707,2.19857143 L22.4049756,2.19857143 L22.4049756,1.24428571 L23.9723902,1.24428571 L23.9723902,0.488571429' id='Fill-15-Copy-2' fill='#504F51'></path><path d='M25.7824146,2.41785714 L25.7817073,1.24357143 L26.0596829,1.24357143 C26.3546341,1.24357143 26.5717805,1.28642857 26.7118293,1.37428571 C26.851878,1.46214286 26.9226098,1.60785714 26.9226098,1.81428571 C26.9226098,2.02214286 26.8532927,2.175 26.7160732,2.27285714 C26.5788537,2.36928571 26.3659512,2.41785714 26.0773659,2.41785714 L25.7824146,2.41785714 M26.1247561,0.488571429 L24.8699756,0.488571429 L24.8699756,4.835 L25.7824146,4.835 L25.7824146,3.16714286 L26.2683415,3.16642857 L27.2967805,4.83428571 L28.3096585,4.83428571 C28.1123171,4.54928571 27.6914634,3.91714286 27.0442683,2.94142857 C27.2989024,2.82857143 27.4962439,2.67214286 27.6355854,2.47285714 C27.7742195,2.27428571 27.8442439,2.04571429 27.8442439,1.79071429 C27.8442439,1.35214286 27.7034878,1.02642857 27.4233902,0.811428571 C27.141878,0.595714286 26.7097073,0.488571429 26.1247561,0.488571429' id='Fill-17-Copy' fill='#504F51'></path></g></g></g></g></svg>");
  height: 24px;
  width: 37px;
  background-position: 0 0;

  &.visa {
    background-position-x: -46px;
  }

  &.mastercard {
    background-position-x: -92px;
  }

  &.amex {
    background-position-x: -138px;
  }

  &.discover {
    background-position-x: -184px;
  }
}

.icon-applied-check {
  margin-right:6px;
  width:24px; /* update to non-blurry image */
  height:24px;
}

.g.space.space-around {
  justify-content: space-around; }

.showOnSuccess {
  display: none; }


#emailOptInSuccess, #emailOptInSuccess:hover {
  cursor: default;
  color: white;
  background: #1AB030; }

#optInEmailIcon {
  max-width: 196px;
  max-height: 161px;
  margin: 0 auto;
}

@media screen and (max-width:$sm) {
  section.complete {
    .stepBody {
      display: none;
    }
  }
}

@media screen and (min-width:$sm) {
  #shippingSummary, #paymentSummary {
    display: none; 
  }
}
@media screen and (min-width: $md) {
  #orderSummary {
    display:none;
  }

  section {
    margin-bottom: 16px;
    margin-right: 342px;

    .stepHeader {
      border-bottom: none;
    }

    .stepBody {
      .subsection {
        background-color: white;
      }
    }

    &.complete {
      .stepHeader {
        border-bottom: 1px solid #EDEDED;
      }

    }
  }
  #contentWrapper {
    padding: $standardPadding; }

  #top {
    padding: $standardPadding;

    * {
      vertical-align: middle;
    }

    > div:first-child {
      text-align: left;
    }

    > div:last-child {
      text-align: right;
    }

    .icon {
      height: 20px;
      width: 20px;
    }
  }

  #mobileTop, #desktopTop {
    padding: 0 $standardPadding;
  }

  #desktopTop {
    display: block;
  }

  #mobileTop {
    display: none;
  }
  #sidebar {
    display: block;
    position: relative;
    width: 320px;
    float: right; }
  #stickySummary {
    position: fixed;
    background-color: white;
    width: 320px; }
  #stickySummary h2 {
    margin: 0 0 14px 0; }
  #stickySummary .item.total {
    color: black;
    font-size: 22px; }
  #stickySummary .amount {
    float: right; }


  #shippingStep {
    border-top: 1px solid #AAAAAA; }
  .togglePassword {
    display: none; }



  .icon-cart {
    background: url("/assets/images/cart-icon-desktop.png"); }
}
#cardEntrySubsection {
  padding-top:0;
  padding-bottom:.5em;
}
#savedCreditCards {
  ~ #cardEntrySubsection {
    border:none;
    padding:0;
  }
}
#savedCards {
  padding-bottom:0;
  margin-bottom:0;
  border: none;
  background-color: initial;
  .error-message {
    word-break: break-word;
  }
  li:not(:last-of-type) {
    margin-bottom: 1em;
  }
  li {
    padding: 0;
    border: none;
    .pinEntry {
      td {
        border: none;
        vertical-align: middle;
        padding: 11px;
      }

      .pinMsg {
        padding-right: 11px;
      }

      .quickPin {
        width: 5em;
        padding-left: 0;
      }
    }
    .pin {
      padding-left:0;
    }
  }
}

#cartNumberWrapper {
  @media (min-width:$sm) {
    max-width:17em;
  }
}

/* Hide then User closes one */
.hide-notifications .notification {
  display: none;
  /* What if the message is different this time? */ }

.customer-service-info-block {
  padding:12px 0 12px 20px;
  img { max-width:32px;}
  [class*=u-] > span {
    display:block;
  }
  [class*=u-auto] {
    padding:0 .5em 0 0;
  }
  .content-module-cart-number {
    font-weight:bold;
  }
  @media (max-width:$sm) {
    font-size:.85em;
    [class*=u-] + [class*=u-] {
      line-height:1.25em;
      padding-top:.05em;
    }
  }
}

@media screen and (min-width: $lg) {
  #giftCardForm {
      width: 50%; }
  #giftCardImage {
      display: block; }
  .g-recaptcha {
      transform-origin: top left;
      -ms-transform-origin: top left;
      transform: scale(0.92);
      -ms-transform: scale(0.92); }
  .different {
    left: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center; }
  .different input[type="radio"] + label > span.inputReplacement {
    display: none; }
  .different > div {
    width: 100%;
    text-decoration: underline; }
  .different .inputLabel {
    width: 100%;
    text-align: center; }
  .different .icon {
    display: none; } }


.g {
  .u-show-inline { display:inline }
  .u-show { display:inline-block }
  .u-hide { display:none }
  @media(min-width:$sm) {
    [class*="u-sm-"]:not(.u-sm-hide), &[class*="g-sm-"]:not(.g-sm-hide) { display:inline-block; }
    .u-sm-hide, &.g-sm-hide { display:none }
  }
  @media(min-width:$md) {
    [class*="u-md-"]:not(.u-md-hide), &[class*="g-md-"]:not(.g-md-hide) { display:inline-block; }
    .u-md-hide, &.g-md-hide { display:none }
  }
  @media(min-width:$lg) {
    [class*="u-lg-"]:not(.u-lg-hide), &[class*="g-lg-"]:not(.g-lg-hide) { display:inline-block; }
    .u-lg-hide, &.g-lg-hide { display:none }
  }
  @media(min-width:$xl) {
    [class*="u-xl-"]:not(.u-xl-hide), &[class*="g-xl-"]:not(.g-xl-hide) { display:inline-block; }
    .u-xl-hide, &.g-xl-hide { display:none }
  }
}

/* GLOBAL ERRORS */

#error-messages {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  z-index: -1;
  width: 100%;
}


#shippingSummary .summary .g:first-of-type [class*="u-"], #paymentSummary .summary .g:last-of-type, #shippingResult .user-submission-preview {
  > div, > span {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
  }
}
#giftNotePreview {
  margin-top:1em;
  .user-submisison-preview {
    white-space:normal;
  }
}
#shippingResult {
  .u-md-1-2:first-of-type {
    padding-right:1em;
  }
}

.u-center-items, .g-center-items {
  display:flex !important;
  align-items:center;
}

#giftCardPinInput {
  padding-left: 0.4em;
  padding-right: 0.4em;
}

@import "partials/buttons";
@import "partials/modals";
@import "partials/shippingdetails";
@import "partials/drawer";
@import 'partials/stepresult';
@import 'partials/lineitems';
@import 'partials/confirmation';
@import 'partials/globalerrors';
